body {
    background-color: #363636;
    color: white;
}


.list .item {
    background-color: #363636;
    
}

.list a {
    color:white;
}

.list .item:hover {
    background-color: #242424;
}

.controls img {
    filter: brightness(0) invert(1);
}

.controls img:hover {
    filter: brightness(0) invert(0.90);
}